body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    background-image: url('/data/ninfo.jfif');
    text-align: center;
    margin-bottom: 20px; /* Space below header */
    width:100%;
    height: 90px;
}
#nh{
    padding: 20px 30px;
    color:black;
    font-weight: 900;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0.1%; /* Top margin as a percentage */
}

.videos {
    display: flex;
    flex-direction: column; /* Stack videos vertically */
    width: 20%; /* Adjust width as needed */
    position: relative; /* To keep aspect ratio */
    background: aquamarine;
}

.videos-left {
    margin-right: 10px; /* Adjust margin as needed */
}

.videos-right {
    margin-left: 10px; /* Adjust margin as needed */
}

.video {
    position: relative;
    width: 100%; /* Fill container width */
    padding-top: 150.78%; /* 9:16 aspect ratio */
    margin-bottom: 20px; /* Space between videos */
    margin-top: 0; /* Ensure no extra space at the top */
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the container */
}

.nutrition-info {
    flex: 1;
    padding: 0 20px;
}
